.gallery-top-content {
    background-color: #0f2a3f;
    width: 100%;
    padding-bottom: 10px;
}

.container {
    background-color: #0f2a3f;

    display: flex;
    justify-content: center;
}

main {
    background-color: #08141e;
    padding: 24px;
    padding-top: 20px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.side-bar {
    align-self: flex-start;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    overflow: auto;

    color: #f6d6bd;
    
    border-radius: 5px;
    
    top: 24px;
    max-height: calc(100vh - 70px);
    background-color: #08141e;
    color: #f6d6bd;
    padding: 24px;
    margin-left: 24px;
}

.posts-container {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;

    color: #f6d6bd;
    font-family: 'Anonymous Pro', monospace;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}